aside {
   text-align: center;
   border: 1px solid rgb(9, 63, 9);
   margin:10px 10px 10px 10px;
   padding:10px 10px 10px 10px ;
   }
#menu li{
    display:inline-block;
}
#menu ul li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-image: linear-gradient(green, black);
    display: flex;
    color: white;
    padding: 5px 10px;
    height: 30px;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
    border-left: 2px solid black;
}
#menu ul li a:hover{
    color:blue;
    background: gray;
}
#menu{
    border: 1px solid red;
    display: flex;
}
#menu ul{
    height: 30px;
    padding-left: 0px;
    background: blue;
    margin-top: 0px;
    display: flex;
}
article{
    border: 1.5px solid red;
    padding: 10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 30px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    display: flex;
    border: 2px solid green;
}
#text{
    border: 1px solid blue;
    padding: 10px, 10px, 10px, 10px;
    margin:10px 10px 10px 10px;
    width: 2400px;
    margin-top: 0px;
}
#head{
    display: flex;
    border: 2px solid black;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin:10px 10px 0px 10px;
}
img{
    width: 200px;
}
body{
    border: 1px solid red;
}
hr{
    height: 1.5px;
    background: green;
    margin:10px 10px 10px 10px;

}
#canle{
    text-align: right;
    margin-right: 30px
}